.footer {
    display: flex;
    justify-content: space-around;
    background-color: #fcf2eb;
    color: #fff;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    padding: 10px;
  }
  
  .footer-column h3 {
    font-size: 1.2em;
  }
  
  .footer-column p {
    font-size: 0.9em;
  }
  